.reacteroids {
    color: #ffffff;
    font-family: 'PT Mono', serif;
}

body {
  padding: 0;
  margin: 0;
}
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  display: block;
  position: absolute;
  top: 10vh;
  z-index: 1;
  font-size: 14px;
}
.controls {
  display: block;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
}
.endgame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  font-size: 1.5rem;
  text-align: center;
}
.endgame-message {
  font-size: 2rem;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 1000px) { 
    .score, .controls {
        top: 10vh;
    }

}

@media (max-width: 1000px) {
  .score, .controls {
    top: 16vh !important;
  }
}
