@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700|Roboto+Mono:300,400,500,500i,700,700i|Ropa+Sans:400,400i');

* {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

html, body {
    min-height: 100%;
}

.auth, form, .snake-app, table {
    margin-top: 150px !important;
}

body, html {
    overflow-x: hidden;
}

.body-segment {
    position: absolute;
    z-index: -1;
}

.scores-container {
    margin-top: 130px;
    width: 100%;
}

ul li:first-of-type {
    display: none;
}
.dropdown {
    padding: 0% 30%;
}

.reacteroids-comments {
    position: fixed;
    left: 0;
    top: 190px;
}
.comment-section {
    display: none;
}

.container, .sub-container{
    margin: 0px;
    align-content: center;
}

.container, .sub-container, table, .snake-app {
    margin-left: auto;
    margin-right: auto;
}

.link a {
    padding: 0px 0px;
}


.game-info {
    background-color: grey;
}

.game-over{
    font-size: 3.5em;
}

h2 {
    color: white;
    margin-top: 8px;
    text-align: center;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1;
    background-color: white;
}

nav > ul {
    width: 100%;
    list-style-type: none;
    margin-right: 74px;
    height: 120px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li a {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    display: block;
    color: #C0B3A0;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    text-decoration: none;
    font-style: italic;
    color: #C0B3A0;
}

nav .title {
    padding: 0px 0px;
}

.card-title {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 30px;
    color: #3F3250;
}

.signout-btn {
    margin-right: 5px;
}

.snake-app {
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    align-content: center;
    display: block;
    z-index: 10;
}


.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-decoration-color: #e14658;
    clear: both;
    float: none;
}

.title h2 {
    color: #e14658;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 2rem;
}

.title:hover {
    color: #3F3250;
}

.signout-btn {
    position: fixed;
    right: 0;
    top: 2px;
}
table {
    border-collapse: collapse;
    width: 90%;
    background-color: white;
}

td, th {
    text-align: left;
    padding: 8px;
}

.timeStamp {
    color: grey;
}

.profile-pic {
    display: none;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th {
    background-color: #3F3250;
    color: white;
}

nav li, .title {
    float: none !important;
}
#avg {
    color: white;
}

.acc-btn {
    position: fixed;
    top: 2px;
    left: 4px;
}

.active:hover {
    text-decoration: none;
    color: #e14658;
}

.link:active {
    text-decoration: none;
    color: #e14658;
}

.homepage {
    margin-top: 120px;
}

.hometab {
    display: initial;
}
.intro {
    background-color: #DBD8CC;
}

.cardlist {
    margin-top: 50px;
}

.gameLink:hover {
    text-decoration: none;
}

.gameLink .card-title:hover {
    color: #C0B3A0;
}

@media (min-width: 1000px) {
    * {
        font-size: 1rem;
    }

    .account-link {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .auth, form, .snake-app, table {
        margin-top: 100px;
    }

    NavLink{
        float: right;
    }

    .comment-section {
        display: initial;
        float: right;
    }
    
    .gameOver{
        font-size: 7em;
    }

    h2 {
        margin-right: 5rem;
        margin-left: 2rem;
    }

    .reacteroids-comments {
        position: fixed;
        left: 0;
        top: 130px;
    }
    nav {
        height: 60px;
    }

    .link a {
        padding: 16px 16px;
    }
    
    nav li a {
        padding: 16px 16px;
    }
    nav > ul {
        height: 60px;
        width: auto;
    }
    .profile-pic {
        width: 60px;
        height: 60px;
        margin-right: 5px;
        display: initial;
        border-radius: 50px;
        padding: 3px; 
    }
    .signout-btn {
        margin-top: 5px;
        margin-right: 5px;
    }

    .snake-app {
        left: 100px
    }

    nav li, .title {
        float: left !important;
    }

    table {
        width: 50%;
    }
    nav .title {
        padding-left: 90px;
        margin-top: 8px;
        padding-bottom: 8px;    
    }
    .title h2 {
        color: #e14658;
        background-color: white;
        margin-top: 4px;
        font-size: 3rem;
    }
    ul li:first-of-type {
        display: initial;
    }
    .signout-btn, .acc-btn {
        position: initial;
    }
}