

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: hidden;
}

.navbar {
    background-color: black;
    width: 100%;
    display: inline-block;
    height: 60px;
}

.recharts-wrapper {
  margin: -2rem auto auto 5rem;
}

.charts, .charts-container {
  display: flex;
  
  width: 100%;
}